.login-main {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
}

.login-container {
    text-align: center;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    background-color: #75bbec;
    box-shadow: 0 0 10px 10px whitesmoke;
}