.counter-container {
    background-color: darkblue;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.counter-container span {
    margin: 20px;
}

.counter-container h3 {
    font-weight: bold;
}

.counter-container button {
    font-size: 20px;
}

.counter-container span {
    font-size: 20px;
    font-weight: bold;
}