.carts-main {
    margin: 15px;
 }
 
 .carts-container {
     border: 1px solid lightgray;
     border-radius: 0.5rem;
     padding: 0.5rem;
     margin: auto;
     box-shadow: 0 0 0.1rem gray;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .carts-items-container {
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 2rem;
     overflow-y: auto;
     height: 560px;
     align-items: start;
 }