.add-container {
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    margin-right: 10px;
    margin-left: 10px;
    height: 300px;
}

.add-container h2 {
    padding: 0 20px;
}

.add-title {
    color: darkblue;
}

.add-variable {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}

.add-display {
    display: flex;
    justify-content: space-between;
}

.middle-span {
    margin: 0 20px;
}